@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@800&display=swap');

* { margin: 0; padding: 0;}
li { list-style: none; }
a { color: inherit; text-decoration: none;}
img { display: block; }


div.swiper-pagination {
  position: absolute; left: 0; 
}
div.swiper-scrollbar {
  display: none;
}




div#wrap {
  width: 100%;
}
header {
  width: 100%; 
  position: relative;
}
ul.list {
  height: 80px; z-index: 100;
  position: fixed; top: 0;
  display: flex; 
}
ul.list li {
  width: 100px; line-height: 80px;
  text-align: right; color: #333;
}


div.swiper {
  width: 100vw; height: 100vh;
  position: relative;
  margin: 0 auto;
}
div.swiper-wrapper {
  width: 100%; height: 960px;
}
div.swiper div.swiper-wrapper div.swiper-slide div#intro {
  width: 100%; height: 100%; 
  background-color: #f8f8ff;
}
div.swiper div.swiper-wrapper div.swiper-slide div#intro p.text {
  position: absolute; text-align: center; 
  top: 40%; left: 50%; transform: translate(-50%, -50%);
  font-size: 96px;
  font-weight: bold;
}
div.swiper div.swiper-wrapper div.swiper-slide div#intro > p > a{
  display: block; 
}
div.swiper div.swiper-wrapper div.swiper-slide div#intro > p > span{
  display: block;
}
div.swiper div.swiper-wrapper div.swiper-slide div#intro p.txt{
  position: absolute;  height: 115px; line-height: 50px;
  transform: translate(-50%, -50%);
  bottom: 20%; left: 50%; font-weight: 700;
  font-size: 18px;
  text-align: center;
}




div.swiper div.swiper-wrapper div.swiper-slide  {
  width: 100%; height: 100%;
  background-color: #f0f8ff;
  position: relative;
}
div.swiper div.swiper-wrapper div.swiper-slide div#me h1 {
  color: #808080;
  font-size: 256px; font-family: 'Open Sans' ;
  position: absolute; left: -80px; top: 100px;
}
div.swiper div.swiper-wrapper div.swiper-slide div#me p {
  color: #333;
  z-index: 1;
  font-size: 98px;
  position: absolute; left: 90px; top: 290px;
}
div.swiper div.swiper-wrapper div.swiper-slide div#me img {
  width: 350px;
  position: absolute; left: 120px; top: 450px;
}
div.swiper div.swiper-wrapper div.swiper-slide div#me ul.profile {
  position: absolute; line-height: 80px; font-size: 24px; font-weight: 700;
  top: 50%; left: 70%; transform: translate(-50%, -50%); line-height: 60px;
}


div.swiper div.swiper-wrapper div.swiper-slide div#skill {
  width: 100%; height: 100%;
  background-color: #f0f8ff; position: relative;
}
div.swiper div.swiper-wrapper div.swiper-slide div#skill h1 {
  color: #808080;
  font-size: 256px; font-family: 'Open Sans';
  position: absolute; left: -80px; top: 100px;
}
div.swiper div.swiper-wrapper div.swiper-slide div#skill > p {
  color: #333;
  position: absolute; top: 350px; left: 44px; font-size: 98px;
}
div.swiper div.swiper-wrapper div.swiper-slide div#skill ul.hcj {
  display: flex; justify-content: center; align-items: center;
  position: absolute; top: 30%; left: 62%; transform: translate(-50%,-50%);
}
div.swiper div.swiper-wrapper div.swiper-slide div#skill ul.hcj li img {
  width: 100px;
}
div.swiper div.swiper-wrapper div.swiper-slide div#skill ul.hcj li  {
  width: 350px;
}
div#skill ul.hcj div.progress-bar {
  width: 100px; margin-top: 20px;
    height: 20px;
    background-color: #dedede;
    font-weight: 600;
    
}
div#skill ul.hcj div.progress-bar div.progress {
  width: 88%;  
  height: 20px;
  padding: 0;
  text-align: center;
  background-color: #4F98FF;
  color: #111;
}
div#skill ul.hcj div.progress-bar2 {
  width: 100px; margin-top: 20px;
    height: 20px;
    background-color: #dedede;
    font-weight: 600;
    
}
div#skill ul.hcj div.progress-bar2 div.progress2 {
  width: 80%;  
  height: 20px;
  padding: 0;
  text-align: center;
  background-color: #4F98FF;
  color: #111;
}
div#skill ul.hcj div.progress-bar3 {
  width: 100px; margin-top: 20px;
    height: 20px;
    background-color: #dedede;
    font-weight: 600;
    
}
div#skill ul.hcj div.progress-bar3 div.progress3 {
  width: 50%;  
  height: 20px;
  padding: 0;
  text-align: center;
  background-color: #4F98FF;
  color: #111;
}


div.swiper div.swiper-wrapper div.swiper-slide div#skill ul.des  {
  display: flex; justify-content: center; align-items: center;
  position: absolute; top: 55%; left: 62%; transform: translate(-50%,-50%);
}
div.swiper div.swiper-wrapper div.swiper-slide div#skill ul.des li img {
  width: 100px;
}
div.swiper div.swiper-wrapper div.swiper-slide div#skill ul.des li  {
  width: 350px;
}

div#skill ul.des .progress-bar4 {
  width: 100px; margin-top: 20px;
    height: 20px;
    background-color: #dedede;
    font-weight: 600;
}
div#skill ul.des div.progress-bar4 div.progress4 {
  width: 70%;  
  height: 20px;
  padding: 0;
  text-align: center;
  background-color: #4F98FF;
  color: #111;
}
div#skill ul.des .progress-bar5 {
  width: 100px; margin-top: 20px;
    height: 20px;
    background-color: #dedede;
    font-weight: 600;
}
div#skill ul.des div.progress-bar5 div.progress5 {
  width: 50%;  
  height: 20px;
  padding: 0;
  text-align: center;
  background-color: #4F98FF;
  color: #111;
}
div#skill ul.des .progress-bar6 {
  width: 100px; margin-top: 20px;
    height: 20px;
    background-color: #dedede;
    font-weight: 600;
}
div#skill ul.des div.progress-bar6 div.progress6 {
  width: 70%;  
  height: 20px;
  padding: 0;
  text-align: center;
  background-color: #4F98FF;
  color: #111;
}









div.swiper div.swiper-wrapper div.swiper-slide div#web {
  width: 100%; height: 100%;
  position: relative;
}
div.swiper div.swiper-wrapper div.swiper-slide div#web h1 {
  color: #808080;
  font-size: 256px; font-family: 'Open Sans' ;
  position: absolute; left: -80px; top: 50px;
}
div.swiper div.swiper-wrapper div.swiper-slide div#web > p {
  color: #333;
  z-index: 1;
  font-size: 98px;
  position: absolute; left: 10px; top: 250px;
}

div.inner {
  width: 1420px; position: absolute; top: 420px; left: 100px;
  margin: 0 auto;
}
div#web div.inner article.campaign_box {
  height: 300px; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box;   
}
div#web div.inner article.campaign_box h3{
  margin-top: 20px; text-align: center; font-size: 22px;
}
div#web div.inner article.campaign_box a > div.backbox {
  width: 300px; height: 300px; opacity: .8;
  background-color: #333; display: none;
}
div#web div.inner article.campaign_box div.campign1 {
  width: 300px; height: 300px; position: relative;
  background: url(../img/Untitled-2.png) no-repeat center/cover;
  border: 1px solid black;
  box-shadow: 20px 20px 20px #3d3c3ce7;
}
div#web div.inner article.campaign_box div.campign1 a {
  width: 300px; height: 300px; display: block;
}
div#web div.inner article.campaign_box div.campign1 a > p {
  color: #fff; position: absolute; top: 40%; z-index: 1;
  display: none;
  font-size: 24px; font-weight: 300; text-align: center;
}
div#web div.inner article.campaign_box div.campign1 a > p > span {
  display: block; font-size: 24px; width: 300px; font-weight: 300; 
  margin-top: 10px;
}
div#web div.inner article.campaign_box div.campign1 a:hover > p{
  display: block; transition: 1s;
}
div#web div.inner article.campaign_box div.campign1 a:hover > div.backbox {
  display: block;  transition: 1s;
}
div#web div.inner article.campaign_box div.campign2 {
  width: 300px; height: 300px; position: relative;
  background: url(../img/genesis.png) no-repeat center/cover;
  border: 1px solid black;
  box-shadow: 20px 20px 20px #3d3c3ce7;
}
div#web div.inner article.campaign_box div.campign2 a {
  width: 300px; height: 300px; display: block;
}
div#web div.inner article.campaign_box div.campign2 a > p {
  color: #fff; position: absolute; top: 40%; z-index: 1;
  display: none;
  font-size: 24px; font-weight: 300; text-align: center;
}
div#web div.inner article.campaign_box div.campign2 a > p > span {
  display: block; font-size: 24px; width: 300px; font-weight: 300; 
  margin-top: 10px;
}
div#web div.inner article.campaign_box div.campign2 a:hover > p{
  display: block; transition: 1s;
}
div#web div.inner article.campaign_box div.campign2 a:hover > div.backbox {
  display: block;  transition: 1s;
}
div#web div.inner article.campaign_box div.campign3 {
  width: 300px; height: 300px; position: relative;
  background: url(../img/onthe.png) no-repeat center/cover;
  border: 1px solid black;
  box-shadow: 20px 20px 20px #3d3c3ce7;
}
div#web div.inner article.campaign_box div.campign3 a {
  width: 300px; height: 300px; display: block;
}
div#web div.inner article.campaign_box div.campign3 a > p {
  color: #fff; position: absolute; top: 40%; z-index: 1;
  display: none;
  font-size: 24px; font-weight: 300; text-align: center;
}
div#web div.inner article.campaign_box div.campign3 a > p > span {
  display: block; font-size: 24px; width: 300px; font-weight: 300; 
  margin-top: 10px;
}
div#web div.inner article.campaign_box div.campign3 a:hover > p{
  display: block; transition: 1s;
}
div#web div.inner article.campaign_box div.campign3 a:hover > div.backbox {
  display: block;  transition: 1s;
}
div#web div.inner article.campaign_box div.campign4 {
  width: 300px; height: 300px; position: relative;   
  background: url(../img/gucci.png) no-repeat center/cover;
  border: 1px solid black;
  box-shadow: 20px 20px 20px #3d3c3ce7;
}
div#web div.inner article.campaign_box div.campign4 a {
  width: 300px; height: 300px; display: block;
}
div#web div.inner article.campaign_box div.campign4 a > div.campignimg4 {
  width: 300px; height: 300px; display: block;
}
div#web div.inner article.campaign_box div.campign4 a > p {
  color: #fff; position: absolute; top: 40%; z-index: 1;
  display: none;
  font-size: 24px; font-weight: 300; text-align: center;
}
div#web div.inner article.campaign_box div.campign4 a > p > span {
  display: block; font-size: 14px; width: 300px; font-weight: 700; 
  margin-top: 10px;
}
div#web div.inner article.campaign_box div.campign4 a:hover > p{
  display: block; transition: 1s;
}
div#web div.inner article.campaign_box div.campign4 a:hover > div.backbox {
  display: block;  transition: 1s;  
}

div.swiper-slide #inner_box {
  width: 100%; height: 100%;
  position: relative;
}
div.swiper-slide #inner_box > p {
  text-align: center; border-top: 1px solid black;
  font-size: 58px;
  position: absolute; top: 40%; left: 50%;
  transform: translate(-50%, -50%);
}
div.swiper-slide #inner_box > p > span {
  text-align: center; display: block;
  font-size: 12px; margin-top: 20px; height: 30px;
  border-bottom: 1px solid black;
}









